//Fix some conflicts with Chico UI 1.1.1
$flag-margin: 5px 0;
$flag-padding: 5px 5px 6px 5px;
$flag-height: 17px;
$input-border: 1px solid #ccc !important;
$input-padding: 6px 23px 6px 10px !important;
$input-with-flag-margin-left: -1px;
$input-change-flag-margin-left: -4px;
$validations-margin: 0;
$error-border-color: #EAC9C8 !important;