@media (min-resolution: 144dpi),
(min-resolution: 1.5dppx) {
    .ui-telephone__flag-icon {
        background-size: 5630px 15px;
        background-image: url("../images/flags@2x.png")
    }
}

.ui-telephone__flag-icon {
    width: 20px;

    &.ui-telephone__flag-icon--be {
        width: 18px
    }

    &.ui-telephone__flag-icon--ch {
        width: 15px
    }

    &.ui-telephone__flag-icon--mc {
        width: 19px
    }

    &.ui-telephone__flag-icon--ne {
        width: 18px
    }

    &.ui-telephone__flag-icon--np {
        width: 13px
    }

    &.ui-telephone__flag-icon--va {
        width: 15px
    }

    &.ui-telephone__flag-icon--ac {
        height: 10px;
        background-position: 0 0;
    }

    &.ui-telephone__flag-icon--ad {
        height: 14px;
        background-position: -22px 0;
    }

    &.ui-telephone__flag-icon--ae {
        height: 10px;
        background-position: -44px 0;
    }

    &.ui-telephone__flag-icon--af {
        height: 14px;
        background-position: -66px 0;
    }

    &.ui-telephone__flag-icon--ag {
        height: 14px;
        background-position: -88px 0;
    }

    &.ui-telephone__flag-icon--ai {
        height: 10px;
        background-position: -110px 0;
    }

    &.ui-telephone__flag-icon--al {
        height: 15px;
        background-position: -132px 0;
    }

    &.ui-telephone__flag-icon--am {
        height: 10px;
        background-position: -154px 0;
    }

    &.ui-telephone__flag-icon--ao {
        height: 14px;
        background-position: -176px 0;
    }

    &.ui-telephone__flag-icon--aq {
        height: 14px;
        background-position: -198px 0;
    }

    &.ui-telephone__flag-icon--ar {
        height: 13px;
        background-position: -220px 0;
    }

    &.ui-telephone__flag-icon--as {
        height: 10px;
        background-position: -242px 0;
    }

    &.ui-telephone__flag-icon--at {
        height: 14px;
        background-position: -264px 0;
    }

    &.ui-telephone__flag-icon--au {
        height: 10px;
        background-position: -286px 0;
    }

    &.ui-telephone__flag-icon--aw {
        height: 14px;
        background-position: -308px 0;
    }

    &.ui-telephone__flag-icon--ax {
        height: 13px;
        background-position: -330px 0;
    }

    &.ui-telephone__flag-icon--az {
        height: 10px;
        background-position: -352px 0;
    }

    &.ui-telephone__flag-icon--ba {
        height: 10px;
        background-position: -374px 0;
    }

    &.ui-telephone__flag-icon--bb {
        height: 14px;
        background-position: -396px 0;
    }

    &.ui-telephone__flag-icon--bd {
        height: 12px;
        background-position: -418px 0;
    }

    &.ui-telephone__flag-icon--be {
        height: 15px;
        background-position: -440px 0;
    }

    &.ui-telephone__flag-icon--bf {
        height: 14px;
        background-position: -460px 0;
    }

    &.ui-telephone__flag-icon--bg {
        height: 12px;
        background-position: -482px 0;
    }

    &.ui-telephone__flag-icon--bh {
        height: 12px;
        background-position: -504px 0;
    }

    &.ui-telephone__flag-icon--bi {
        height: 12px;
        background-position: -526px 0;
    }

    &.ui-telephone__flag-icon--bj {
        height: 14px;
        background-position: -548px 0;
    }

    &.ui-telephone__flag-icon--bl {
        height: 14px;
        background-position: -570px 0;
    }

    &.ui-telephone__flag-icon--bm {
        height: 10px;
        background-position: -592px 0;
    }

    &.ui-telephone__flag-icon--bn {
        height: 10px;
        background-position: -614px 0;
    }

    &.ui-telephone__flag-icon--bo {
        height: 14px;
        background-position: -636px 0;
    }

    &.ui-telephone__flag-icon--bq {
        height: 14px;
        background-position: -658px 0;
    }

    &.ui-telephone__flag-icon--br {
        height: 14px;
        background-position: -680px 0;
    }

    &.ui-telephone__flag-icon--bs {
        height: 10px;
        background-position: -702px 0;
    }

    &.ui-telephone__flag-icon--bt {
        height: 14px;
        background-position: -724px 0;
    }

    &.ui-telephone__flag-icon--bv {
        height: 15px;
        background-position: -746px 0;
    }

    &.ui-telephone__flag-icon--bw {
        height: 14px;
        background-position: -768px 0;
    }

    &.ui-telephone__flag-icon--by {
        height: 10px;
        background-position: -790px 0;
    }

    &.ui-telephone__flag-icon--bz {
        height: 14px;
        background-position: -812px 0;
    }

    &.ui-telephone__flag-icon--ca {
        height: 10px;
        background-position: -834px 0;
    }

    &.ui-telephone__flag-icon--cc {
        height: 10px;
        background-position: -856px 0;
    }

    &.ui-telephone__flag-icon--cd {
        height: 15px;
        background-position: -878px 0;
    }

    &.ui-telephone__flag-icon--cf {
        height: 14px;
        background-position: -900px 0;
    }

    &.ui-telephone__flag-icon--cg {
        height: 14px;
        background-position: -922px 0;
    }

    &.ui-telephone__flag-icon--ch {
        height: 15px;
        background-position: -944px 0;
    }

    &.ui-telephone__flag-icon--ci {
        height: 14px;
        background-position: -961px 0;
    }

    &.ui-telephone__flag-icon--ck {
        height: 10px;
        background-position: -983px 0;
    }

    &.ui-telephone__flag-icon--cl {
        height: 14px;
        background-position: -1005px 0;
    }

    &.ui-telephone__flag-icon--cm {
        height: 14px;
        background-position: -1027px 0;
    }

    &.ui-telephone__flag-icon--cn {
        height: 14px;
        background-position: -1049px 0;
    }

    &.ui-telephone__flag-icon--co {
        height: 14px;
        background-position: -1071px 0;
    }

    &.ui-telephone__flag-icon--cp {
        height: 14px;
        background-position: -1093px 0;
    }

    &.ui-telephone__flag-icon--cr {
        height: 12px;
        background-position: -1115px 0;
    }

    &.ui-telephone__flag-icon--cu {
        height: 10px;
        background-position: -1137px 0;
    }

    &.ui-telephone__flag-icon--cv {
        height: 12px;
        background-position: -1159px 0;
    }

    &.ui-telephone__flag-icon--cw {
        height: 14px;
        background-position: -1181px 0;
    }

    &.ui-telephone__flag-icon--cx {
        height: 10px;
        background-position: -1203px 0;
    }

    &.ui-telephone__flag-icon--cy {
        height: 13px;
        background-position: -1225px 0;
    }

    &.ui-telephone__flag-icon--cz {
        height: 14px;
        background-position: -1247px 0;
    }

    &.ui-telephone__flag-icon--de {
        height: 12px;
        background-position: -1269px 0;
    }

    &.ui-telephone__flag-icon--dg {
        height: 10px;
        background-position: -1291px 0;
    }

    &.ui-telephone__flag-icon--dj {
        height: 14px;
        background-position: -1313px 0;
    }

    &.ui-telephone__flag-icon--dk {
        height: 15px;
        background-position: -1335px 0;
    }

    &.ui-telephone__flag-icon--dm {
        height: 10px;
        background-position: -1357px 0;
    }

    &.ui-telephone__flag-icon--do {
        height: 13px;
        background-position: -1379px 0;
    }

    &.ui-telephone__flag-icon--dz {
        height: 14px;
        background-position: -1401px 0;
    }

    &.ui-telephone__flag-icon--ea {
        height: 14px;
        background-position: -1423px 0;
    }

    &.ui-telephone__flag-icon--ec {
        height: 14px;
        background-position: -1445px 0;
    }

    &.ui-telephone__flag-icon--ee {
        height: 13px;
        background-position: -1467px 0;
    }

    &.ui-telephone__flag-icon--eg {
        height: 14px;
        background-position: -1489px 0;
    }

    &.ui-telephone__flag-icon--eh {
        height: 10px;
        background-position: -1511px 0;
    }

    &.ui-telephone__flag-icon--er {
        height: 10px;
        background-position: -1533px 0;
    }

    &.ui-telephone__flag-icon--es {
        height: 14px;
        background-position: -1555px 0;
    }

    &.ui-telephone__flag-icon--et {
        height: 10px;
        background-position: -1577px 0;
    }

    &.ui-telephone__flag-icon--eu {
        height: 14px;
        background-position: -1599px 0;
    }

    &.ui-telephone__flag-icon--fi {
        height: 12px;
        background-position: -1621px 0;
    }

    &.ui-telephone__flag-icon--fj {
        height: 10px;
        background-position: -1643px 0;
    }

    &.ui-telephone__flag-icon--fk {
        height: 10px;
        background-position: -1665px 0;
    }

    &.ui-telephone__flag-icon--fm {
        height: 11px;
        background-position: -1687px 0;
    }

    &.ui-telephone__flag-icon--fo {
        height: 15px;
        background-position: -1709px 0;
    }

    &.ui-telephone__flag-icon--fr {
        height: 14px;
        background-position: -1731px 0;
    }

    &.ui-telephone__flag-icon--ga {
        height: 15px;
        background-position: -1753px 0;
    }

    &.ui-telephone__flag-icon--gb {
        height: 10px;
        background-position: -1775px 0;
    }

    &.ui-telephone__flag-icon--gd {
        height: 12px;
        background-position: -1797px 0;
    }

    &.ui-telephone__flag-icon--ge {
        height: 14px;
        background-position: -1819px 0;
    }

    &.ui-telephone__flag-icon--gf {
        height: 14px;
        background-position: -1841px 0;
    }

    &.ui-telephone__flag-icon--gg {
        height: 14px;
        background-position: -1863px 0;
    }

    &.ui-telephone__flag-icon--gh {
        height: 14px;
        background-position: -1885px 0;
    }

    &.ui-telephone__flag-icon--gi {
        height: 10px;
        background-position: -1907px 0;
    }

    &.ui-telephone__flag-icon--gl {
        height: 14px;
        background-position: -1929px 0;
    }

    &.ui-telephone__flag-icon--gm {
        height: 14px;
        background-position: -1951px 0;
    }

    &.ui-telephone__flag-icon--gn {
        height: 14px;
        background-position: -1973px 0;
    }

    &.ui-telephone__flag-icon--gp {
        height: 14px;
        background-position: -1995px 0;
    }

    &.ui-telephone__flag-icon--gq {
        height: 14px;
        background-position: -2017px 0;
    }

    &.ui-telephone__flag-icon--gr {
        height: 14px;
        background-position: -2039px 0;
    }

    &.ui-telephone__flag-icon--gs {
        height: 10px;
        background-position: -2061px 0;
    }

    &.ui-telephone__flag-icon--gt {
        height: 13px;
        background-position: -2083px 0;
    }

    &.ui-telephone__flag-icon--gu {
        height: 11px;
        background-position: -2105px 0;
    }

    &.ui-telephone__flag-icon--gw {
        height: 10px;
        background-position: -2127px 0;
    }

    &.ui-telephone__flag-icon--gy {
        height: 12px;
        background-position: -2149px 0;
    }

    &.ui-telephone__flag-icon--hk {
        height: 14px;
        background-position: -2171px 0;
    }

    &.ui-telephone__flag-icon--hm {
        height: 10px;
        background-position: -2193px 0;
    }

    &.ui-telephone__flag-icon--hn {
        height: 10px;
        background-position: -2215px 0;
    }

    &.ui-telephone__flag-icon--hr {
        height: 10px;
        background-position: -2237px 0;
    }

    &.ui-telephone__flag-icon--ht {
        height: 12px;
        background-position: -2259px 0;
    }

    &.ui-telephone__flag-icon--hu {
        height: 10px;
        background-position: -2281px 0;
    }

    &.ui-telephone__flag-icon--ic {
        height: 14px;
        background-position: -2303px 0;
    }

    &.ui-telephone__flag-icon--id {
        height: 14px;
        background-position: -2325px 0;
    }

    &.ui-telephone__flag-icon--ie {
        height: 10px;
        background-position: -2347px 0;
    }

    &.ui-telephone__flag-icon--il {
        height: 15px;
        background-position: -2369px 0;
    }

    &.ui-telephone__flag-icon--im {
        height: 10px;
        background-position: -2391px 0;
    }

    &.ui-telephone__flag-icon--in {
        height: 14px;
        background-position: -2413px 0;
    }

    &.ui-telephone__flag-icon--io {
        height: 10px;
        background-position: -2435px 0;
    }

    &.ui-telephone__flag-icon--iq {
        height: 14px;
        background-position: -2457px 0;
    }

    &.ui-telephone__flag-icon--ir {
        height: 12px;
        background-position: -2479px 0;
    }

    &.ui-telephone__flag-icon--is {
        height: 15px;
        background-position: -2501px 0;
    }

    &.ui-telephone__flag-icon--it {
        height: 14px;
        background-position: -2523px 0;
    }

    &.ui-telephone__flag-icon--je {
        height: 12px;
        background-position: -2545px 0;
    }

    &.ui-telephone__flag-icon--jm {
        height: 10px;
        background-position: -2567px 0;
    }

    &.ui-telephone__flag-icon--jo {
        height: 10px;
        background-position: -2589px 0;
    }

    &.ui-telephone__flag-icon--jp {
        height: 14px;
        background-position: -2611px 0;
    }

    &.ui-telephone__flag-icon--ke {
        height: 14px;
        background-position: -2633px 0;
    }

    &.ui-telephone__flag-icon--kg {
        height: 12px;
        background-position: -2655px 0;
    }

    &.ui-telephone__flag-icon--kh {
        height: 13px;
        background-position: -2677px 0;
    }

    &.ui-telephone__flag-icon--ki {
        height: 10px;
        background-position: -2699px 0;
    }

    &.ui-telephone__flag-icon--km {
        height: 12px;
        background-position: -2721px 0;
    }

    &.ui-telephone__flag-icon--kn {
        height: 14px;
        background-position: -2743px 0;
    }

    &.ui-telephone__flag-icon--kp {
        height: 10px;
        background-position: -2765px 0;
    }

    &.ui-telephone__flag-icon--kr {
        height: 14px;
        background-position: -2787px 0;
    }

    &.ui-telephone__flag-icon--kw {
        height: 10px;
        background-position: -2809px 0;
    }

    &.ui-telephone__flag-icon--ky {
        height: 10px;
        background-position: -2831px 0;
    }

    &.ui-telephone__flag-icon--kz {
        height: 10px;
        background-position: -2853px 0;
    }

    &.ui-telephone__flag-icon--la {
        height: 14px;
        background-position: -2875px 0;
    }

    &.ui-telephone__flag-icon--lb {
        height: 14px;
        background-position: -2897px 0;
    }

    &.ui-telephone__flag-icon--lc {
        height: 10px;
        background-position: -2919px 0;
    }

    &.ui-telephone__flag-icon--li {
        height: 12px;
        background-position: -2941px 0;
    }

    &.ui-telephone__flag-icon--lk {
        height: 10px;
        background-position: -2963px 0;
    }

    &.ui-telephone__flag-icon--lr {
        height: 11px;
        background-position: -2985px 0;
    }

    &.ui-telephone__flag-icon--ls {
        height: 14px;
        background-position: -3007px 0;
    }

    &.ui-telephone__flag-icon--lt {
        height: 12px;
        background-position: -3029px 0;
    }

    &.ui-telephone__flag-icon--lu {
        height: 12px;
        background-position: -3051px 0;
    }

    &.ui-telephone__flag-icon--lv {
        height: 10px;
        background-position: -3073px 0;
    }

    &.ui-telephone__flag-icon--ly {
        height: 10px;
        background-position: -3095px 0;
    }

    &.ui-telephone__flag-icon--ma {
        height: 14px;
        background-position: -3117px 0;
    }

    &.ui-telephone__flag-icon--mc {
        height: 15px;
        background-position: -3139px 0;
    }

    &.ui-telephone__flag-icon--md {
        height: 10px;
        background-position: -3160px 0;
    }

    &.ui-telephone__flag-icon--me {
        height: 10px;
        background-position: -3182px 0;
    }

    &.ui-telephone__flag-icon--mf {
        height: 14px;
        background-position: -3204px 0;
    }

    &.ui-telephone__flag-icon--mg {
        height: 14px;
        background-position: -3226px 0;
    }

    &.ui-telephone__flag-icon--mh {
        height: 11px;
        background-position: -3248px 0;
    }

    &.ui-telephone__flag-icon--mk {
        height: 10px;
        background-position: -3270px 0;
    }

    &.ui-telephone__flag-icon--ml {
        height: 14px;
        background-position: -3292px 0;
    }

    &.ui-telephone__flag-icon--mm {
        height: 14px;
        background-position: -3314px 0;
    }

    &.ui-telephone__flag-icon--mn {
        height: 10px;
        background-position: -3336px 0;
    }

    &.ui-telephone__flag-icon--mo {
        height: 14px;
        background-position: -3358px 0;
    }

    &.ui-telephone__flag-icon--mp {
        height: 10px;
        background-position: -3380px 0;
    }

    &.ui-telephone__flag-icon--mq {
        height: 14px;
        background-position: -3402px 0;
    }

    &.ui-telephone__flag-icon--mr {
        height: 14px;
        background-position: -3424px 0;
    }

    &.ui-telephone__flag-icon--ms {
        height: 10px;
        background-position: -3446px 0;
    }

    &.ui-telephone__flag-icon--mt {
        height: 14px;
        background-position: -3468px 0;
    }

    &.ui-telephone__flag-icon--mu {
        height: 14px;
        background-position: -3490px 0;
    }

    &.ui-telephone__flag-icon--mv {
        height: 14px;
        background-position: -3512px 0;
    }

    &.ui-telephone__flag-icon--mw {
        height: 14px;
        background-position: -3534px 0;
    }

    &.ui-telephone__flag-icon--mx {
        height: 12px;
        background-position: -3556px 0;
    }

    &.ui-telephone__flag-icon--my {
        height: 10px;
        background-position: -3578px 0;
    }

    &.ui-telephone__flag-icon--mz {
        height: 14px;
        background-position: -3600px 0;
    }

    &.ui-telephone__flag-icon--na {
        height: 14px;
        background-position: -3622px 0;
    }

    &.ui-telephone__flag-icon--nc {
        height: 10px;
        background-position: -3644px 0;
    }

    &.ui-telephone__flag-icon--ne {
        height: 15px;
        background-position: -3666px 0;
    }

    &.ui-telephone__flag-icon--nf {
        height: 10px;
        background-position: -3686px 0;
    }

    &.ui-telephone__flag-icon--ng {
        height: 10px;
        background-position: -3708px 0;
    }

    &.ui-telephone__flag-icon--ni {
        height: 12px;
        background-position: -3730px 0;
    }

    &.ui-telephone__flag-icon--nl {
        height: 14px;
        background-position: -3752px 0;
    }

    &.ui-telephone__flag-icon--no {
        height: 15px;
        background-position: -3774px 0;
    }

    &.ui-telephone__flag-icon--np {
        height: 15px;
        background-position: -3796px 0;
    }

    &.ui-telephone__flag-icon--nr {
        height: 10px;
        background-position: -3811px 0;
    }

    &.ui-telephone__flag-icon--nu {
        height: 10px;
        background-position: -3833px 0;
    }

    &.ui-telephone__flag-icon--nz {
        height: 10px;
        background-position: -3855px 0;
    }

    &.ui-telephone__flag-icon--om {
        height: 10px;
        background-position: -3877px 0;
    }

    &.ui-telephone__flag-icon--pa {
        height: 14px;
        background-position: -3899px 0;
    }

    &.ui-telephone__flag-icon--pe {
        height: 14px;
        background-position: -3921px 0;
    }

    &.ui-telephone__flag-icon--pf {
        height: 14px;
        background-position: -3943px 0;
    }

    &.ui-telephone__flag-icon--pg {
        height: 15px;
        background-position: -3965px 0;
    }

    &.ui-telephone__flag-icon--ph {
        height: 10px;
        background-position: -3987px 0;
    }

    &.ui-telephone__flag-icon--pk {
        height: 14px;
        background-position: -4009px 0;
    }

    &.ui-telephone__flag-icon--pl {
        height: 13px;
        background-position: -4031px 0;
    }

    &.ui-telephone__flag-icon--pm {
        height: 14px;
        background-position: -4053px 0;
    }

    &.ui-telephone__flag-icon--pn {
        height: 10px;
        background-position: -4075px 0;
    }

    &.ui-telephone__flag-icon--pr {
        height: 14px;
        background-position: -4097px 0;
    }

    &.ui-telephone__flag-icon--ps {
        height: 10px;
        background-position: -4119px 0;
    }

    &.ui-telephone__flag-icon--pt {
        height: 14px;
        background-position: -4141px 0;
    }

    &.ui-telephone__flag-icon--pw {
        height: 13px;
        background-position: -4163px 0;
    }

    &.ui-telephone__flag-icon--py {
        height: 11px;
        background-position: -4185px 0;
    }

    &.ui-telephone__flag-icon--qa {
        height: 8px;
        background-position: -4207px 0;
    }

    &.ui-telephone__flag-icon--re {
        height: 14px;
        background-position: -4229px 0;
    }

    &.ui-telephone__flag-icon--ro {
        height: 14px;
        background-position: -4251px 0;
    }

    &.ui-telephone__flag-icon--rs {
        height: 14px;
        background-position: -4273px 0;
    }

    &.ui-telephone__flag-icon--ru {
        height: 14px;
        background-position: -4295px 0;
    }

    &.ui-telephone__flag-icon--rw {
        height: 14px;
        background-position: -4317px 0;
    }

    &.ui-telephone__flag-icon--sa {
        height: 14px;
        background-position: -4339px 0;
    }

    &.ui-telephone__flag-icon--sb {
        height: 10px;
        background-position: -4361px 0;
    }

    &.ui-telephone__flag-icon--sc {
        height: 10px;
        background-position: -4383px 0;
    }

    &.ui-telephone__flag-icon--sd {
        height: 10px;
        background-position: -4405px 0;
    }

    &.ui-telephone__flag-icon--se {
        height: 13px;
        background-position: -4427px 0;
    }

    &.ui-telephone__flag-icon--sg {
        height: 14px;
        background-position: -4449px 0;
    }

    &.ui-telephone__flag-icon--sh {
        height: 10px;
        background-position: -4471px 0;
    }

    &.ui-telephone__flag-icon--si {
        height: 10px;
        background-position: -4493px 0;
    }

    &.ui-telephone__flag-icon--sj {
        height: 15px;
        background-position: -4515px 0;
    }

    &.ui-telephone__flag-icon--sk {
        height: 14px;
        background-position: -4537px 0;
    }

    &.ui-telephone__flag-icon--sl {
        height: 14px;
        background-position: -4559px 0;
    }

    &.ui-telephone__flag-icon--sm {
        height: 15px;
        background-position: -4581px 0;
    }

    &.ui-telephone__flag-icon--sn {
        height: 14px;
        background-position: -4603px 0;
    }

    &.ui-telephone__flag-icon--so {
        height: 14px;
        background-position: -4625px 0;
    }

    &.ui-telephone__flag-icon--sr {
        height: 14px;
        background-position: -4647px 0;
    }

    &.ui-telephone__flag-icon--ss {
        height: 10px;
        background-position: -4669px 0;
    }

    &.ui-telephone__flag-icon--st {
        height: 10px;
        background-position: -4691px 0;
    }

    &.ui-telephone__flag-icon--sv {
        height: 12px;
        background-position: -4713px 0;
    }

    &.ui-telephone__flag-icon--sx {
        height: 14px;
        background-position: -4735px 0;
    }

    &.ui-telephone__flag-icon--sy {
        height: 14px;
        background-position: -4757px 0;
    }

    &.ui-telephone__flag-icon--sz {
        height: 14px;
        background-position: -4779px 0;
    }

    &.ui-telephone__flag-icon--ta {
        height: 10px;
        background-position: -4801px 0;
    }

    &.ui-telephone__flag-icon--tc {
        height: 10px;
        background-position: -4823px 0;
    }

    &.ui-telephone__flag-icon--td {
        height: 14px;
        background-position: -4845px 0;
    }

    &.ui-telephone__flag-icon--tf {
        height: 14px;
        background-position: -4867px 0;
    }

    &.ui-telephone__flag-icon--tg {
        height: 13px;
        background-position: -4889px 0;
    }

    &.ui-telephone__flag-icon--th {
        height: 14px;
        background-position: -4911px 0;
    }

    &.ui-telephone__flag-icon--tj {
        height: 10px;
        background-position: -4933px 0;
    }

    &.ui-telephone__flag-icon--tk {
        height: 10px;
        background-position: -4955px 0;
    }

    &.ui-telephone__flag-icon--tl {
        height: 10px;
        background-position: -4977px 0;
    }

    &.ui-telephone__flag-icon--tm {
        height: 14px;
        background-position: -4999px 0;
    }

    &.ui-telephone__flag-icon--tn {
        height: 14px;
        background-position: -5021px 0;
    }

    &.ui-telephone__flag-icon--to {
        height: 10px;
        background-position: -5043px 0;
    }

    &.ui-telephone__flag-icon--tr {
        height: 14px;
        background-position: -5065px 0;
    }

    &.ui-telephone__flag-icon--tt {
        height: 12px;
        background-position: -5087px 0;
    }

    &.ui-telephone__flag-icon--tv {
        height: 10px;
        background-position: -5109px 0;
    }

    &.ui-telephone__flag-icon--tw {
        height: 14px;
        background-position: -5131px 0;
    }

    &.ui-telephone__flag-icon--tz {
        height: 14px;
        background-position: -5153px 0;
    }

    &.ui-telephone__flag-icon--ua {
        height: 14px;
        background-position: -5175px 0;
    }

    &.ui-telephone__flag-icon--ug {
        height: 14px;
        background-position: -5197px 0;
    }

    &.ui-telephone__flag-icon--um {
        height: 11px;
        background-position: -5219px 0;
    }

    &.ui-telephone__flag-icon--us {
        height: 11px;
        background-position: -5241px 0;
    }

    &.ui-telephone__flag-icon--uy {
        height: 14px;
        background-position: -5263px 0;
    }

    &.ui-telephone__flag-icon--uz {
        height: 10px;
        background-position: -5285px 0;
    }

    &.ui-telephone__flag-icon--va {
        height: 15px;
        background-position: -5307px 0;
    }

    &.ui-telephone__flag-icon--vc {
        height: 14px;
        background-position: -5324px 0;
    }

    &.ui-telephone__flag-icon--ve {
        height: 14px;
        background-position: -5346px 0;
    }

    &.ui-telephone__flag-icon--vg {
        height: 10px;
        background-position: -5368px 0;
    }

    &.ui-telephone__flag-icon--vi {
        height: 14px;
        background-position: -5390px 0;
    }

    &.ui-telephone__flag-icon--vn {
        height: 14px;
        background-position: -5412px 0;
    }

    &.ui-telephone__flag-icon--vu {
        height: 12px;
        background-position: -5434px 0;
    }

    &.ui-telephone__flag-icon--wf {
        height: 14px;
        background-position: -5456px 0;
    }

    &.ui-telephone__flag-icon--ws {
        height: 10px;
        background-position: -5478px 0;
    }

    &.ui-telephone__flag-icon--xk {
        height: 15px;
        background-position: -5500px 0;
    }

    &.ui-telephone__flag-icon--ye {
        height: 14px;
        background-position: -5522px 0;
    }

    &.ui-telephone__flag-icon--yt {
        height: 14px;
        background-position: -5544px 0;
    }

    &.ui-telephone__flag-icon--za {
        height: 14px;
        background-position: -5566px 0;
    }

    &.ui-telephone__flag-icon--zm {
        height: 14px;
        background-position: -5588px 0;
    }

    &.ui-telephone__flag-icon--zw {
        height: 10px;
        background-position: -5610px 0;
    }

    &.ui-telephone__flag-icon--np {
        background-color: transparent;
    }
}
