/* --------------------------------------------------------
    Component Styles
-------------------------------------------------------- */

.tel {
    display: inline-block;
}

.tel-flags {
    border: solid 1px #ccc;
    box-shadow: none;
}

.tel-number {
    position: relative;
}

.tel-number input {
    border: 1px solid #ccc !important;
    letter-spacing: .5px;
    padding: 6px !important;
    padding-right: 23px !important;
    height: 16px;
    width: 120px;
}

/* Validations
-------------------------------------------------------- */

.tel-validations {
    font-size: 12px;
    line-height: 0;
    transition: opacity .3s ease-out, height .5s ease-out;
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.tel-validations-zero {
    position: absolute;
    transition: opacity .3s ease-out, height .3s ease-out;
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;
}

.tel-validations-zero.show {
    position: relative;
}

.tel-validations.show,
.tel-validations-zero.show {
    opacity: 1;
    padding: 0 0 3px;
    height: auto;
    line-height: 1.4;
}

.tel-validations-input-error {
    background-color: #eac8C8;
    color: #9a4747;
}

.tel-validations-error,
.tel-validations-success {
    display: none
}
.tel-validations-error.show,
.tel-validations-success.show {
    display: block;
}

.tel-validations-success {
    color: #52B34E;
}

.tel-validations-error {
    color: #CC6C52;
}

.tel-validations-info {
    color: #999;
}

.tel-error .tel-flags,
.tel-error .tel-number input,
.tel-error .tel-number input:hover,
.tel-error .tel-number input:focus {
    border: solid 1px #EAC9C8 !important;
    box-shadow: none !important;
}

.tel-success .tel-flags,
.tel-success .tel-number input,
.tel-success .tel-number input:hover,
.tel-success .tel-number input:focus {
    border: solid 1px #C7DBC8 !important;
    box-shadow: none !important;
}

.tel-success .tel-number:after,
.tel-error .tel-number:after {
    top: 50%;
    right: 4px;
    border: 4px solid transparent;
    content: "";
    height: 16px;
    margin-top: -12px;
    width: 14px;
    position: absolute;
    background-image: url("../images/sprite-icons-validate.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.tel-success .tel-number:after {
    background-position: -17px 0;
}

/* Flags
-------------------------------------------------------- */

.tel-flags {
    background-color: #eee;
    vertical-align: bottom;
    width: 40px;
    border: 1px solid #ccc;
    border-right: none;
    margin: 5px 0;
}

.tel-with-flag .tel-number {
    margin-left: -2px;
}

.tel-with-flag .tel-number input {
    border-left: 1px;
}

.tel-flags-can-change {
    padding-right: 5px;
    cursor: pointer;
}

.tel-flags-list {
    position: absolute;
    transition: opacity .4s ease-out;
    opacity: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    margin: 1px 0 0 0;
}

.tel-flags-list.show {
    opacity: 1;
    height: auto;
    width: auto;
    z-index: 2;
}

.tel-flags-selected {
    position: relative;
    display: block;
    height: 18px;
    padding: 5px;
    padding-right: 6px;
    text-align: center;
}

.tel-flags-can-change .tel-flags-selected{
    padding-right: 10px;
}

.tel-flags-can-change .tel-flags-selected:after {
    top: 50%;
    right: 0;
    border: 4px solid transparent;
    content: "";
    height: 0;
    margin-top: -4px;
    width: 0;
    position: absolute;
    border-top-color: #828282;
}

.tel-flags-list {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    font-size: 12px;
    padding: 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.tel-flags-list-item {
    color: black;
    text-align: left;
    padding: 7px 10px;
    text-decoration: none;
    display: block;
}

.tel-flags-list-item:hover {
    background-color: #eee;
}

.tel-flags-list-item-name {
    padding: 0 7px 0 10px;
}

.tel-flags-list-item-code {
    color: #999;
}

.tel-flags-list-item-flag {
    width: 20px;
    height: 15px;
    vertical-align: text-top;
    display: inline-block;
    box-shadow: 0 0 1px 0 #888;
    background-image: url("../images/flags.png");
    background-repeat: no-repeat;
    background-color: #DBDBDB;
    background-position: 20px 0;
}

@media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    .tel-flag {
        background-image: url("../images/flags@2x.png")
    }
}

.tel-number,
.tel-flags {
    display: inline-block;
}

.tel-flag {
    width: 20px
}

.tel-flags-list-item-flag.be {
    width: 18px
}

.tel-flags-list-item-flag.ch {
    width: 15px
}

.tel-flags-list-item-flag.mc {
    width: 19px
}

.tel-flags-list-item-flag.ne {
    width: 18px
}

.tel-flags-list-item-flag.np {
    width: 13px
}

.tel-flags-list-item-flag.va {
    width: 15px
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2 / 1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    .tel-flag {
        background-size: 5630px 15px
    }
}

.tel-flags-list-item-flag.ac {
    height: 10px;
    background-position: 0 0;
}

.tel-flags-list-item-flag.ad {
    height: 14px;
    background-position: -22px 0;
}

.tel-flags-list-item-flag.ae {
    height: 10px;
    background-position: -44px 0;
}

.tel-flags-list-item-flag.af {
    height: 14px;
    background-position: -66px 0;
}

.tel-flags-list-item-flag.ag {
    height: 14px;
    background-position: -88px 0;
}

.tel-flags-list-item-flag.ai {
    height: 10px;
    background-position: -110px 0;
}

.tel-flags-list-item-flag.al {
    height: 15px;
    background-position: -132px 0;
}

.tel-flags-list-item-flag.am {
    height: 10px;
    background-position: -154px 0;
}

.tel-flags-list-item-flag.ao {
    height: 14px;
    background-position: -176px 0;
}

.tel-flags-list-item-flag.aq {
    height: 14px;
    background-position: -198px 0;
}

.tel-flags-list-item-flag.ar {
    height: 13px;
    background-position: -220px 0;
}

.tel-flags-list-item-flag.as {
    height: 10px;
    background-position: -242px 0;
}

.tel-flags-list-item-flag.at {
    height: 14px;
    background-position: -264px 0;
}

.tel-flags-list-item-flag.au {
    height: 10px;
    background-position: -286px 0;
}

.tel-flags-list-item-flag.aw {
    height: 14px;
    background-position: -308px 0;
}

.tel-flags-list-item-flag.ax {
    height: 13px;
    background-position: -330px 0;
}

.tel-flags-list-item-flag.az {
    height: 10px;
    background-position: -352px 0;
}

.tel-flags-list-item-flag.ba {
    height: 10px;
    background-position: -374px 0;
}

.tel-flags-list-item-flag.bb {
    height: 14px;
    background-position: -396px 0;
}

.tel-flags-list-item-flag.bd {
    height: 12px;
    background-position: -418px 0;
}

.tel-flags-list-item-flag.be {
    height: 15px;
    background-position: -440px 0;
}

.tel-flags-list-item-flag.bf {
    height: 14px;
    background-position: -460px 0;
}

.tel-flags-list-item-flag.bg {
    height: 12px;
    background-position: -482px 0;
}

.tel-flags-list-item-flag.bh {
    height: 12px;
    background-position: -504px 0;
}

.tel-flags-list-item-flag.bi {
    height: 12px;
    background-position: -526px 0;
}

.tel-flags-list-item-flag.bj {
    height: 14px;
    background-position: -548px 0;
}

.tel-flags-list-item-flag.bl {
    height: 14px;
    background-position: -570px 0;
}

.tel-flags-list-item-flag.bm {
    height: 10px;
    background-position: -592px 0;
}

.tel-flags-list-item-flag.bn {
    height: 10px;
    background-position: -614px 0;
}

.tel-flags-list-item-flag.bo {
    height: 14px;
    background-position: -636px 0;
}

.tel-flags-list-item-flag.bq {
    height: 14px;
    background-position: -658px 0;
}

.tel-flags-list-item-flag.br {
    height: 14px;
    background-position: -680px 0;
}

.tel-flags-list-item-flag.bs {
    height: 10px;
    background-position: -702px 0;
}

.tel-flags-list-item-flag.bt {
    height: 14px;
    background-position: -724px 0;
}

.tel-flags-list-item-flag.bv {
    height: 15px;
    background-position: -746px 0;
}

.tel-flags-list-item-flag.bw {
    height: 14px;
    background-position: -768px 0;
}

.tel-flags-list-item-flag.by {
    height: 10px;
    background-position: -790px 0;
}

.tel-flags-list-item-flag.bz {
    height: 14px;
    background-position: -812px 0;
}

.tel-flags-list-item-flag.ca {
    height: 10px;
    background-position: -834px 0;
}

.tel-flags-list-item-flag.cc {
    height: 10px;
    background-position: -856px 0;
}

.tel-flags-list-item-flag.cd {
    height: 15px;
    background-position: -878px 0;
}

.tel-flags-list-item-flag.cf {
    height: 14px;
    background-position: -900px 0;
}

.tel-flags-list-item-flag.cg {
    height: 14px;
    background-position: -922px 0;
}

.tel-flags-list-item-flag.ch {
    height: 15px;
    background-position: -944px 0;
}

.tel-flags-list-item-flag.ci {
    height: 14px;
    background-position: -961px 0;
}

.tel-flags-list-item-flag.ck {
    height: 10px;
    background-position: -983px 0;
}

.tel-flags-list-item-flag.cl {
    height: 14px;
    background-position: -1005px 0;
}

.tel-flags-list-item-flag.cm {
    height: 14px;
    background-position: -1027px 0;
}

.tel-flags-list-item-flag.cn {
    height: 14px;
    background-position: -1049px 0;
}

.tel-flags-list-item-flag.co {
    height: 14px;
    background-position: -1071px 0;
}

.tel-flags-list-item-flag.cp {
    height: 14px;
    background-position: -1093px 0;
}

.tel-flags-list-item-flag.cr {
    height: 12px;
    background-position: -1115px 0;
}

.tel-flags-list-item-flag.cu {
    height: 10px;
    background-position: -1137px 0;
}

.tel-flags-list-item-flag.cv {
    height: 12px;
    background-position: -1159px 0;
}

.tel-flags-list-item-flag.cw {
    height: 14px;
    background-position: -1181px 0;
}

.tel-flags-list-item-flag.cx {
    height: 10px;
    background-position: -1203px 0;
}

.tel-flags-list-item-flag.cy {
    height: 13px;
    background-position: -1225px 0;
}

.tel-flags-list-item-flag.cz {
    height: 14px;
    background-position: -1247px 0;
}

.tel-flags-list-item-flag.de {
    height: 12px;
    background-position: -1269px 0;
}

.tel-flags-list-item-flag.dg {
    height: 10px;
    background-position: -1291px 0;
}

.tel-flags-list-item-flag.dj {
    height: 14px;
    background-position: -1313px 0;
}

.tel-flags-list-item-flag.dk {
    height: 15px;
    background-position: -1335px 0;
}

.tel-flags-list-item-flag.dm {
    height: 10px;
    background-position: -1357px 0;
}

.tel-flags-list-item-flag.do {
    height: 13px;
    background-position: -1379px 0;
}

.tel-flags-list-item-flag.dz {
    height: 14px;
    background-position: -1401px 0;
}

.tel-flags-list-item-flag.ea {
    height: 14px;
    background-position: -1423px 0;
}

.tel-flags-list-item-flag.ec {
    height: 14px;
    background-position: -1445px 0;
}

.tel-flags-list-item-flag.ee {
    height: 13px;
    background-position: -1467px 0;
}

.tel-flags-list-item-flag.eg {
    height: 14px;
    background-position: -1489px 0;
}

.tel-flags-list-item-flag.eh {
    height: 10px;
    background-position: -1511px 0;
}

.tel-flags-list-item-flag.er {
    height: 10px;
    background-position: -1533px 0;
}

.tel-flags-list-item-flag.es {
    height: 14px;
    background-position: -1555px 0;
}

.tel-flags-list-item-flag.et {
    height: 10px;
    background-position: -1577px 0;
}

.tel-flags-list-item-flag.eu {
    height: 14px;
    background-position: -1599px 0;
}

.tel-flags-list-item-flag.fi {
    height: 12px;
    background-position: -1621px 0;
}

.tel-flags-list-item-flag.fj {
    height: 10px;
    background-position: -1643px 0;
}

.tel-flags-list-item-flag.fk {
    height: 10px;
    background-position: -1665px 0;
}

.tel-flags-list-item-flag.fm {
    height: 11px;
    background-position: -1687px 0;
}

.tel-flags-list-item-flag.fo {
    height: 15px;
    background-position: -1709px 0;
}

.tel-flags-list-item-flag.fr {
    height: 14px;
    background-position: -1731px 0;
}

.tel-flags-list-item-flag.ga {
    height: 15px;
    background-position: -1753px 0;
}

.tel-flags-list-item-flag.gb {
    height: 10px;
    background-position: -1775px 0;
}

.tel-flags-list-item-flag.gd {
    height: 12px;
    background-position: -1797px 0;
}

.tel-flags-list-item-flag.ge {
    height: 14px;
    background-position: -1819px 0;
}

.tel-flags-list-item-flag.gf {
    height: 14px;
    background-position: -1841px 0;
}

.tel-flags-list-item-flag.gg {
    height: 14px;
    background-position: -1863px 0;
}

.tel-flags-list-item-flag.gh {
    height: 14px;
    background-position: -1885px 0;
}

.tel-flags-list-item-flag.gi {
    height: 10px;
    background-position: -1907px 0;
}

.tel-flags-list-item-flag.gl {
    height: 14px;
    background-position: -1929px 0;
}

.tel-flags-list-item-flag.gm {
    height: 14px;
    background-position: -1951px 0;
}

.tel-flags-list-item-flag.gn {
    height: 14px;
    background-position: -1973px 0;
}

.tel-flags-list-item-flag.gp {
    height: 14px;
    background-position: -1995px 0;
}

.tel-flags-list-item-flag.gq {
    height: 14px;
    background-position: -2017px 0;
}

.tel-flags-list-item-flag.gr {
    height: 14px;
    background-position: -2039px 0;
}

.tel-flags-list-item-flag.gs {
    height: 10px;
    background-position: -2061px 0;
}

.tel-flags-list-item-flag.gt {
    height: 13px;
    background-position: -2083px 0;
}

.tel-flags-list-item-flag.gu {
    height: 11px;
    background-position: -2105px 0;
}

.tel-flags-list-item-flag.gw {
    height: 10px;
    background-position: -2127px 0;
}

.tel-flags-list-item-flag.gy {
    height: 12px;
    background-position: -2149px 0;
}

.tel-flags-list-item-flag.hk {
    height: 14px;
    background-position: -2171px 0;
}

.tel-flags-list-item-flag.hm {
    height: 10px;
    background-position: -2193px 0;
}

.tel-flags-list-item-flag.hn {
    height: 10px;
    background-position: -2215px 0;
}

.tel-flags-list-item-flag.hr {
    height: 10px;
    background-position: -2237px 0;
}

.tel-flags-list-item-flag.ht {
    height: 12px;
    background-position: -2259px 0;
}

.tel-flags-list-item-flag.hu {
    height: 10px;
    background-position: -2281px 0;
}

.tel-flags-list-item-flag.ic {
    height: 14px;
    background-position: -2303px 0;
}

.tel-flags-list-item-flag.id {
    height: 14px;
    background-position: -2325px 0;
}

.tel-flags-list-item-flag.ie {
    height: 10px;
    background-position: -2347px 0;
}

.tel-flags-list-item-flag.il {
    height: 15px;
    background-position: -2369px 0;
}

.tel-flags-list-item-flag.im {
    height: 10px;
    background-position: -2391px 0;
}

.tel-flags-list-item-flag.in {
    height: 14px;
    background-position: -2413px 0;
}

.tel-flags-list-item-flag.io {
    height: 10px;
    background-position: -2435px 0;
}

.tel-flags-list-item-flag.iq {
    height: 14px;
    background-position: -2457px 0;
}

.tel-flags-list-item-flag.ir {
    height: 12px;
    background-position: -2479px 0;
}

.tel-flags-list-item-flag.is {
    height: 15px;
    background-position: -2501px 0;
}

.tel-flags-list-item-flag.it {
    height: 14px;
    background-position: -2523px 0;
}

.tel-flags-list-item-flag.je {
    height: 12px;
    background-position: -2545px 0;
}

.tel-flags-list-item-flag.jm {
    height: 10px;
    background-position: -2567px 0;
}

.tel-flags-list-item-flag.jo {
    height: 10px;
    background-position: -2589px 0;
}

.tel-flags-list-item-flag.jp {
    height: 14px;
    background-position: -2611px 0;
}

.tel-flags-list-item-flag.ke {
    height: 14px;
    background-position: -2633px 0;
}

.tel-flags-list-item-flag.kg {
    height: 12px;
    background-position: -2655px 0;
}

.tel-flags-list-item-flag.kh {
    height: 13px;
    background-position: -2677px 0;
}

.tel-flags-list-item-flag.ki {
    height: 10px;
    background-position: -2699px 0;
}

.tel-flags-list-item-flag.km {
    height: 12px;
    background-position: -2721px 0;
}

.tel-flags-list-item-flag.kn {
    height: 14px;
    background-position: -2743px 0;
}

.tel-flags-list-item-flag.kp {
    height: 10px;
    background-position: -2765px 0;
}

.tel-flags-list-item-flag.kr {
    height: 14px;
    background-position: -2787px 0;
}

.tel-flags-list-item-flag.kw {
    height: 10px;
    background-position: -2809px 0;
}

.tel-flags-list-item-flag.ky {
    height: 10px;
    background-position: -2831px 0;
}

.tel-flags-list-item-flag.kz {
    height: 10px;
    background-position: -2853px 0;
}

.tel-flags-list-item-flag.la {
    height: 14px;
    background-position: -2875px 0;
}

.tel-flags-list-item-flag.lb {
    height: 14px;
    background-position: -2897px 0;
}

.tel-flags-list-item-flag.lc {
    height: 10px;
    background-position: -2919px 0;
}

.tel-flags-list-item-flag.li {
    height: 12px;
    background-position: -2941px 0;
}

.tel-flags-list-item-flag.lk {
    height: 10px;
    background-position: -2963px 0;
}

.tel-flags-list-item-flag.lr {
    height: 11px;
    background-position: -2985px 0;
}

.tel-flags-list-item-flag.ls {
    height: 14px;
    background-position: -3007px 0;
}

.tel-flags-list-item-flag.lt {
    height: 12px;
    background-position: -3029px 0;
}

.tel-flags-list-item-flag.lu {
    height: 12px;
    background-position: -3051px 0;
}

.tel-flags-list-item-flag.lv {
    height: 10px;
    background-position: -3073px 0;
}

.tel-flags-list-item-flag.ly {
    height: 10px;
    background-position: -3095px 0;
}

.tel-flags-list-item-flag.ma {
    height: 14px;
    background-position: -3117px 0;
}

.tel-flags-list-item-flag.mc {
    height: 15px;
    background-position: -3139px 0;
}

.tel-flags-list-item-flag.md {
    height: 10px;
    background-position: -3160px 0;
}

.tel-flags-list-item-flag.me {
    height: 10px;
    background-position: -3182px 0;
}

.tel-flags-list-item-flag.mf {
    height: 14px;
    background-position: -3204px 0;
}

.tel-flags-list-item-flag.mg {
    height: 14px;
    background-position: -3226px 0;
}

.tel-flags-list-item-flag.mh {
    height: 11px;
    background-position: -3248px 0;
}

.tel-flags-list-item-flag.mk {
    height: 10px;
    background-position: -3270px 0;
}

.tel-flags-list-item-flag.ml {
    height: 14px;
    background-position: -3292px 0;
}

.tel-flags-list-item-flag.mm {
    height: 14px;
    background-position: -3314px 0;
}

.tel-flags-list-item-flag.mn {
    height: 10px;
    background-position: -3336px 0;
}

.tel-flags-list-item-flag.mo {
    height: 14px;
    background-position: -3358px 0;
}

.tel-flags-list-item-flag.mp {
    height: 10px;
    background-position: -3380px 0;
}

.tel-flags-list-item-flag.mq {
    height: 14px;
    background-position: -3402px 0;
}

.tel-flags-list-item-flag.mr {
    height: 14px;
    background-position: -3424px 0;
}

.tel-flags-list-item-flag.ms {
    height: 10px;
    background-position: -3446px 0;
}

.tel-flags-list-item-flag.mt {
    height: 14px;
    background-position: -3468px 0;
}

.tel-flags-list-item-flag.mu {
    height: 14px;
    background-position: -3490px 0;
}

.tel-flags-list-item-flag.mv {
    height: 14px;
    background-position: -3512px 0;
}

.tel-flags-list-item-flag.mw {
    height: 14px;
    background-position: -3534px 0;
}

.tel-flags-list-item-flag.mx {
    height: 12px;
    background-position: -3556px 0;
}

.tel-flags-list-item-flag.my {
    height: 10px;
    background-position: -3578px 0;
}

.tel-flags-list-item-flag.mz {
    height: 14px;
    background-position: -3600px 0;
}

.tel-flags-list-item-flag.na {
    height: 14px;
    background-position: -3622px 0;
}

.tel-flags-list-item-flag.nc {
    height: 10px;
    background-position: -3644px 0;
}

.tel-flags-list-item-flag.ne {
    height: 15px;
    background-position: -3666px 0;
}

.tel-flags-list-item-flag.nf {
    height: 10px;
    background-position: -3686px 0;
}

.tel-flags-list-item-flag.ng {
    height: 10px;
    background-position: -3708px 0;
}

.tel-flags-list-item-flag.ni {
    height: 12px;
    background-position: -3730px 0;
}

.tel-flags-list-item-flag.nl {
    height: 14px;
    background-position: -3752px 0;
}

.tel-flags-list-item-flag.no {
    height: 15px;
    background-position: -3774px 0;
}

.tel-flags-list-item-flag.np {
    height: 15px;
    background-position: -3796px 0;
}

.tel-flags-list-item-flag.nr {
    height: 10px;
    background-position: -3811px 0;
}

.tel-flags-list-item-flag.nu {
    height: 10px;
    background-position: -3833px 0;
}

.tel-flags-list-item-flag.nz {
    height: 10px;
    background-position: -3855px 0;
}

.tel-flags-list-item-flag.om {
    height: 10px;
    background-position: -3877px 0;
}

.tel-flags-list-item-flag.pa {
    height: 14px;
    background-position: -3899px 0;
}

.tel-flags-list-item-flag.pe {
    height: 14px;
    background-position: -3921px 0;
}

.tel-flags-list-item-flag.pf {
    height: 14px;
    background-position: -3943px 0;
}

.tel-flags-list-item-flag.pg {
    height: 15px;
    background-position: -3965px 0;
}

.tel-flags-list-item-flag.ph {
    height: 10px;
    background-position: -3987px 0;
}

.tel-flags-list-item-flag.pk {
    height: 14px;
    background-position: -4009px 0;
}

.tel-flags-list-item-flag.pl {
    height: 13px;
    background-position: -4031px 0;
}

.tel-flags-list-item-flag.pm {
    height: 14px;
    background-position: -4053px 0;
}

.tel-flags-list-item-flag.pn {
    height: 10px;
    background-position: -4075px 0;
}

.tel-flags-list-item-flag.pr {
    height: 14px;
    background-position: -4097px 0;
}

.tel-flags-list-item-flag.ps {
    height: 10px;
    background-position: -4119px 0;
}

.tel-flags-list-item-flag.pt {
    height: 14px;
    background-position: -4141px 0;
}

.tel-flags-list-item-flag.pw {
    height: 13px;
    background-position: -4163px 0;
}

.tel-flags-list-item-flag.py {
    height: 11px;
    background-position: -4185px 0;
}

.tel-flags-list-item-flag.qa {
    height: 8px;
    background-position: -4207px 0;
}

.tel-flags-list-item-flag.re {
    height: 14px;
    background-position: -4229px 0;
}

.tel-flags-list-item-flag.ro {
    height: 14px;
    background-position: -4251px 0;
}

.tel-flags-list-item-flag.rs {
    height: 14px;
    background-position: -4273px 0;
}

.tel-flags-list-item-flag.ru {
    height: 14px;
    background-position: -4295px 0;
}

.tel-flags-list-item-flag.rw {
    height: 14px;
    background-position: -4317px 0;
}

.tel-flags-list-item-flag.sa {
    height: 14px;
    background-position: -4339px 0;
}

.tel-flags-list-item-flag.sb {
    height: 10px;
    background-position: -4361px 0;
}

.tel-flags-list-item-flag.sc {
    height: 10px;
    background-position: -4383px 0;
}

.tel-flags-list-item-flag.sd {
    height: 10px;
    background-position: -4405px 0;
}

.tel-flags-list-item-flag.se {
    height: 13px;
    background-position: -4427px 0;
}

.tel-flags-list-item-flag.sg {
    height: 14px;
    background-position: -4449px 0;
}

.tel-flags-list-item-flag.sh {
    height: 10px;
    background-position: -4471px 0;
}

.tel-flags-list-item-flag.si {
    height: 10px;
    background-position: -4493px 0;
}

.tel-flags-list-item-flag.sj {
    height: 15px;
    background-position: -4515px 0;
}

.tel-flags-list-item-flag.sk {
    height: 14px;
    background-position: -4537px 0;
}

.tel-flags-list-item-flag.sl {
    height: 14px;
    background-position: -4559px 0;
}

.tel-flags-list-item-flag.sm {
    height: 15px;
    background-position: -4581px 0;
}

.tel-flags-list-item-flag.sn {
    height: 14px;
    background-position: -4603px 0;
}

.tel-flags-list-item-flag.so {
    height: 14px;
    background-position: -4625px 0;
}

.tel-flags-list-item-flag.sr {
    height: 14px;
    background-position: -4647px 0;
}

.tel-flags-list-item-flag.ss {
    height: 10px;
    background-position: -4669px 0;
}

.tel-flags-list-item-flag.st {
    height: 10px;
    background-position: -4691px 0;
}

.tel-flags-list-item-flag.sv {
    height: 12px;
    background-position: -4713px 0;
}

.tel-flags-list-item-flag.sx {
    height: 14px;
    background-position: -4735px 0;
}

.tel-flags-list-item-flag.sy {
    height: 14px;
    background-position: -4757px 0;
}

.tel-flags-list-item-flag.sz {
    height: 14px;
    background-position: -4779px 0;
}

.tel-flags-list-item-flag.ta {
    height: 10px;
    background-position: -4801px 0;
}

.tel-flags-list-item-flag.tc {
    height: 10px;
    background-position: -4823px 0;
}

.tel-flags-list-item-flag.td {
    height: 14px;
    background-position: -4845px 0;
}

.tel-flags-list-item-flag.tf {
    height: 14px;
    background-position: -4867px 0;
}

.tel-flags-list-item-flag.tg {
    height: 13px;
    background-position: -4889px 0;
}

.tel-flags-list-item-flag.th {
    height: 14px;
    background-position: -4911px 0;
}

.tel-flags-list-item-flag.tj {
    height: 10px;
    background-position: -4933px 0;
}

.tel-flags-list-item-flag.tk {
    height: 10px;
    background-position: -4955px 0;
}

.tel-flags-list-item-flag.tl {
    height: 10px;
    background-position: -4977px 0;
}

.tel-flags-list-item-flag.tm {
    height: 14px;
    background-position: -4999px 0;
}

.tel-flags-list-item-flag.tn {
    height: 14px;
    background-position: -5021px 0;
}

.tel-flags-list-item-flag.to {
    height: 10px;
    background-position: -5043px 0;
}

.tel-flags-list-item-flag.tr {
    height: 14px;
    background-position: -5065px 0;
}

.tel-flags-list-item-flag.tt {
    height: 12px;
    background-position: -5087px 0;
}

.tel-flags-list-item-flag.tv {
    height: 10px;
    background-position: -5109px 0;
}

.tel-flags-list-item-flag.tw {
    height: 14px;
    background-position: -5131px 0;
}

.tel-flags-list-item-flag.tz {
    height: 14px;
    background-position: -5153px 0;
}

.tel-flags-list-item-flag.ua {
    height: 14px;
    background-position: -5175px 0;
}

.tel-flags-list-item-flag.ug {
    height: 14px;
    background-position: -5197px 0;
}

.tel-flags-list-item-flag.um {
    height: 11px;
    background-position: -5219px 0;
}

.tel-flags-list-item-flag.us {
    height: 11px;
    background-position: -5241px 0;
}

.tel-flags-list-item-flag.uy {
    height: 14px;
    background-position: -5263px 0;
}

.tel-flags-list-item-flag.uz {
    height: 10px;
    background-position: -5285px 0;
}

.tel-flags-list-item-flag.va {
    height: 15px;
    background-position: -5307px 0;
}

.tel-flags-list-item-flag.vc {
    height: 14px;
    background-position: -5324px 0;
}

.tel-flags-list-item-flag.ve {
    height: 14px;
    background-position: -5346px 0;
}

.tel-flags-list-item-flag.vg {
    height: 10px;
    background-position: -5368px 0;
}

.tel-flags-list-item-flag.vi {
    height: 14px;
    background-position: -5390px 0;
}

.tel-flags-list-item-flag.vn {
    height: 14px;
    background-position: -5412px 0;
}

.tel-flags-list-item-flag.vu {
    height: 12px;
    background-position: -5434px 0;
}

.tel-flags-list-item-flag.wf {
    height: 14px;
    background-position: -5456px 0;
}

.tel-flags-list-item-flag.ws {
    height: 10px;
    background-position: -5478px 0;
}

.tel-flags-list-item-flag.xk {
    height: 15px;
    background-position: -5500px 0;
}

.tel-flags-list-item-flag.ye {
    height: 14px;
    background-position: -5522px 0;
}

.tel-flags-list-item-flag.yt {
    height: 14px;
    background-position: -5544px 0;
}

.tel-flags-list-item-flag.za {
    height: 14px;
    background-position: -5566px 0;
}

.tel-flags-list-item-flag.zm {
    height: 14px;
    background-position: -5588px 0;
}

.tel-flags-list-item-flag.zw {
    height: 10px;
    background-position: -5610px 0;
}

.tel-flags-list-item-flag.np {
    background-color: transparent;
}
