@import '_country-list';

/* --------------------------------------------------------
    Component Styles
-------------------------------------------------------- */

.ui-telephone {
    display: inline-block;
}

.ui-telephone__flags {
    border: solid 1px #ccc;
    box-shadow: none;
}

.ui-telephone__number {
    position: relative;

    input {
        border: 1px solid #ccc !important;
        letter-spacing: .5px;
        padding: 6px !important;
        padding-left: 10px !important;
        padding-right: 23px !important;
        height: 16px;
        width: 120px;
    }
}

/* Validations
-------------------------------------------------------- */

.ui-telephone__validations {
    font-size: 12px;
    line-height: 0;
    transition: opacity .3s ease-out, height .5s ease-out;
    opacity: 0;
    height: 0;
    padding: 0;
    margin: 0;

    .info {
        color: #999;
    }

    .zero {
        &.is-visible {
            position: relative;
        }
        position: absolute;
        transition: opacity .3s ease-out, height .3s ease-out;
        opacity: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }
}

.ui-telephone__validations.is-visible,
.ui-telephone__validations .zero.is-visible {
    opacity: 1;
    padding: 0 0 3px;
    height: auto;
    line-height: 1.4;
}

.ui-telephone__input-error {
    background-color: #eac8C8;
    color: #9a4747;
}

.ui-telephone__validation--error,
.ui-telephone__validation--success {
    display: none;
    &.is-visible {
        display: block;
    }
}

.ui-telephone__validation--success {
    color: #52B34E;
}

.ui-telephone__validation--error {
    color: #CC6C52;
}

.ui-telephone--error {
    .ui-telephone__flags,
    .ui-telephone__number input,
    .ui-telephone__number input:hover,
    .ui-telephone__number input:focus {
        border: solid 1px #EAC9C8 !important;
        box-shadow: none !important;
    }
}

.ui-telephone--success {
    .ui-telephone__flags,
    .ui-telephone__number input,
    .ui-telephone__number input:hover,
    .ui-telephone__number input:focus {
        border: solid 1px #C7DBC8 !important;
        box-shadow: none !important;
    }
}

.ui-telephone--success .ui-telephone__number:after,
.ui-telephone--error .ui-telephone__number:after {
    top: 50%;
    right: 4px;
    border: 4px solid transparent;
    content: "";
    height: 16px;
    margin-top: -12px;
    width: 14px;
    position: absolute;
    background-image: url("../images/sprite-icons-validate.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.ui-telephone--success .ui-telephone__number:after {
    background-position: -17px 0;
}

/* Flags
-------------------------------------------------------- */

.ui-telephone__flags {
    background-color: #eee;
    vertical-align: bottom;
    width: 40px;
    border: 1px solid #ccc;
    border-right: none;
    margin: 5px 0;
}

.ui-telephone--with-flag {
    .ui-telephone__number {
        margin-left: -3px;
        input {
            border-left: 1px;
        }
    }
}

.ui-telephone__flags--can-change {
    padding-right: 5px;
    cursor: pointer;

    .ui-telephone__selected-flag {
        padding-right: 10px;

        &:after {
            top: 50%;
            right: 0;
            border: 4px solid transparent;
            content: "";
            height: 0;
            margin-top: -4px;
            width: 0;
            position: absolute;
            border-top-color: #828282;
        }
    }
}

.ui-telephone__flags-list {
    position: absolute;
    transition: opacity .4s ease-out;
    opacity: 0;
    height: 0;
    width: 0;
    max-height: 190px;
    overflow: hidden;
    overflow-y: auto;
    margin: 1px 0 0 0;

    &.is-visible {
        opacity: 1;
        height: auto;
        width: auto;
        z-index: 2;
    }
}

.ui-telephone__selected-flag {
    position: relative;
    display: block;
    height: 18px;
    padding: 5px;
    padding-right: 6px;
    text-align: center;
}

.ui-telephone__flags-list {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 195px;
    font-size: 12px;
    margin-top: 2px;
    border-top: 1px solid #efefef;
    padding: 0;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ui-telephone__flags-list-item {
    color: black;
    text-align: left;
    padding: 6px 2px 6px 10px;
    text-decoration: none;
    display: block;
    &:hover {
        background-color: #eee;
    }
}

.ui-telephone__flag-name {
    padding: 0 7px 0 10px;
}

.ui-telephone__flag-code {
    color: #999;
}

.ui-telephone__flag-icon {
    width: 20px;
    height: 15px;
    vertical-align: text-top;
    display: inline-block;
    box-shadow: 0 0 1px 0 #888;
    background-image: url("../images/flags.png");
    background-repeat: no-repeat;
    background-color: #DBDBDB;
    background-position: 20px 0;
}

.ui-telephone__number,
.ui-telephone__flags {
    display: inline-block;
}

