/* --------------------------------------------------------
    Demo HTML - This is not part of the component
-------------------------------------------------------- */

body {
    max-width: 400px;
    margin: 50px auto;
    background-color: #eee;
    color: #888;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.ch-box-lite {
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 7px 0 rgba(0,0,0,.2);
}

.ch-box-lite .ch-btn {
    margin-top: 5px;
}

.title {
    font-weight: 300;
}

.result {
    display: inline-block;
    min-width: 120px;
}

.initial-value {
    margin-top: 4px;
    height: 15px;
    width: 100px;
    padding: 1px 2px;
    font-size: 12px;
}