/* --------------------------------------------------------
    Demo HTML - This is not part of the component
-------------------------------------------------------- */

body {
    max-width: 400px;
    margin: 50px auto;
    background-color: #eee;
    color: #888;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.ch-box-lite {
    padding: 15px 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,.2);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,.2);
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,.2);
}

.ch-box-lite .ch-btn {
    margin-top: 5px;
}

h1, h2 {
    font-weight: 300;
}

.result {
    display: inline-block;
    min-width: 120px;
}

.initial-value {
    margin-top: 4px;
    height: 15px;
    width: 100px;
    padding: 1px 2px;
    font-size: 12px;
}

/*
body {
    background-color: #eee;
    
    font-size: 22px;
    color: #888;
    margin-top: 100px;
}

.box {
    max-width: 400px;
    background-color: #fff;
    margin: 40px auto;
    border: 1px solid #ccc;
    padding: 30px 10px 30px 0px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,.3);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,.3);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,.3);
}


input {
    height: 20px;
    min-width: 200px;
    font-size: 18px;
    font-weight: 100;
    padding: 15px 10px;
    color: #888;
    letter-spacing: 2px;
    transition: background-color .5s ease-out;
}

h1 {
    font-weight: 100;
    margin: 0 0 30px;
}

#result {
    padding: 10px 0;
    font-size: 13px;
    transition: opacity .3s ease-out;
    opacity: 0; 
    height: 0;
    overflow: hidden;
}

#result.show {
    opacity: 1;
    height: auto;
}

#result h1 {
    margin: 0 0 10px;
}

#result .areaCode,
#result .fulltel {
    padding-right: 10px;
}

#showResults {
    text-align: center;
    font-weight: 300;
    text-decoration: none;
    display: block;
    color: #999;
}

.tel-validations {
    margin-top: 3px;
}




 .tel-flags {
    margin: 5px 0;
}

.tel-with-flag .tel-number input:not([type=submit]) {
    border-left: 1px;
}

*/